/*Brad Le*/

body {
  background-color: : rgb(244, 248, 249);
  font-family: Helvetica;
  font-size: 24px;
}
.tweet-container {
  background: rgb(255,255,255);
  border: 1px solid rgb(225,232,237);
  border-radius: 10px;
  width: 700px;
  padding: 20px;
}
.profile-image {
  float:left;
  margin-bottom: 10px;
}
.top-icons {
  float: left;
  padding-left: 15px;

}
.user-account {
  color: rgb(104,109,129);
  font-weight: bold;
}
.user-name {
  font-weight:bold;
  font-size: 30px;
}

button {
  border: 2px solid rgb(85,172,238);
  border-radius: 5px;
  background-color: inherit;
  color: rgb(85,172,238);
  font-size: 30px;
  font-weight:bold;
  text-align: center;
  padding: 10px 20px 10px 20px;
  margin: 10px;
}
.follow-button {
  float:right;
}
/*div {
  border: 1px solid red;
}*/
.tweet {
  color: rgb(0,0,0);
  margin-bottom: 10px;
  clear: both;
}
.tweet-text {
  margin-bottom: 15px;
}
.date-time {
  color: rgb(101,116,127);
  font-weight: bold;
}
.bottom-container {
  color: rgb(105,120,130);
  font-family: Helvetica;
  font-weight: bold;
  font-size: 25px;
}
#reply {
  padding-right: 20px;
}
#retweet {
  padding-right: 5px;
}
#favorite {
  padding-left: 20px;
}
